<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/CharacterPage.css">
    <title>Origins New Horizons | [Nome do player]</title>
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <nav>
        <button>Fichas</button>
        <button>Informações</button>
        <button>Combate</button>
    </nav>

    <div class="player-panel">
        <div class="player-image">
            <input class="user-img" type="image" src="../images/plusv2.png" alt="Submit">
        </div>
        <div class="player-info">
            <input class="player-class" type="image" src="../images/dpsIcon.png">
            <p>
                Nome: <br>
                Level: 00
            </p>
        </div>
    </div>


</body>

</html>