@rendermode InteractiveServer

@code
{
    int Popup = 0;

    [Parameter]  public string? CurrentBody { get; set; }
    [Parameter] public EventCallback<string> CurrentBodyChanged { get; set; }

    async Task UpdateCurrentBody(int body)
    {

        string bodyText = "";
        if (body == 0) bodyText = "Humano";
        if (body == 1) bodyText = "Monstro";
        if (body == 2) bodyText = "Besta";

        CurrentBody = bodyText;
        Console.WriteLine(CurrentBody);
        await CurrentBodyChanged.InvokeAsync(CurrentBody);
    }

    public void ActivePopup(int index)
    {
        Popup = index;
    }


}

<div class="class-box">
    <button class="a1" @onclick="(() => ActivePopup(1))">Humano</button>
    <button class="a2" @onclick="(() => ActivePopup(2))">Humano</button>
    <button class="a3" @onclick="(() => ActivePopup(3))">Humano</button>
</div>

@if (Popup == 1)
{
    <div class="popup" id="popup">
        <h1>Humano</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button @onclick="(() => UpdateCurrentBody(0))">Confirmar</button>
    </div>
}

@if (Popup == 2)
{
    <div class="popup" id="popup">
        <h1>Monstro</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button @onclick="(() => UpdateCurrentBody(1))">Confirmar</button>
    </div>
}

@if (Popup == 3)
{
    <div class="popup" id="popup">
        <h1>Besta</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button @onclick="(() => UpdateCurrentBody(2))">Confirmar</button>
    </div>
}