@rendermode InteractiveServer

@code
{
    int popup = 0;
    public void ActivePopup(int index)
    {
        popup = index;
    }
}

<div class="class-box">
    <button class="a1" @onclick="(() => ActivePopup(1))">Humano</button>
    <button class="a2" @onclick="(() => ActivePopup(2))">Monstro</button>
    <button class="a3" @onclick="(() => ActivePopup(3))">Besta</button>
</div>

@if (popup == 1)
{
    <div class="popup" id="popup">
        <h1>Humano</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button>Confirmar</button>
    </div>
}

@if (popup == 2)
{
    <div class="popup" id="popup">
        <h1>Monstro</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button>Confirmar</button>
    </div>
}

@if (popup == 3)
{
    <div class="popup" id="popup">
        <h1>Besta</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium perferendis minima quasi
            necessitatibus sint repudiandae dolores quod odio officiis, dolorem molestiae vel cupiditate tempore
            consequatur. Perspiciatis quo itaque voluptas?</h2>
        <button>Confirmar</button>
    </div>
}