<div class="classs-box">
    <div>
        <h1>DPS</h1>
        <button class="img-buttons"><img src="@Assets["/images/DPS.png"]"></button>
    </div>

    <div>
        <h1>TANK</h1>
        <button class="img-buttons"><img src="@Assets["/images/TANK.png"]"></button>
    </div>

    <div>
        <h1>SUPORTE</h1>
        <button class="img-buttons"><img src="@Assets["/images/SUP.png"]"></button>
    </div>
</div>