<div class="info-box">
    <div class="name">
        <h1>Nome:</h1>
        <input type="text" placeholder="Escreva o nome do seu personagem aqui...">
    </div>
    <div class="mentor">
        <h1>Mentor:</h1>
        <select name="mentor">
            <option value="">Escola o seu mentor...</option>
            <optgroup label="Starlights">
                <option value="teckmo">Teckmo</option>
                <option value="shironi">Shinori</option>
                <option value="zyreph">Zyreph</option>
                <option value="zack">Zack</option>
                <option value="mery">Mery</option>
                <option value="violet">Violet</option>
            </optgroup>
            <optgroup label="Chaos Hunters">
                <option value="trevor">Trevor</option>
                <option value="shadow">Shadow Clouds</option>
                <option value="sandstorm">Sandstorm</option>
            </optgroup>
        </select>
    </div>
    <div class="mentor">
        <h1>Portador:</h1>
        <select name="carrier">
            <option value="">Se for portador de qual tipo?</option>
            <option value="nothing">Nada</option>
            <option value="beast">Besta</option>
            <option value="spirit">Espirito</option>
        </select>
    </div>
    <div class="mentor">
        <h1>Elemento:</h1>
        <select name="element">
            <option value="">Escolha seu elemento...</option>
            <optgroup label="Elementos formadores">
                <option value="fire">Fogo</option>
                <option value="water">Água</option>
                <option value="electric">Elétrico</option>
                <option value="wind">Vento</option>
                <option value="physical">Físico</option>
                <option value="light">Luz</option>
                <option value="shadow">Sombra</option>
            </optgroup>
            <optgroup label="Caso você tenha um próprio">
                <option value="other">Outro</option>
            </optgroup>
        </select>
    </div>
</div>