@using Database
@inject HttpClient Http
@inject NavigationManager NavigationManager

@code {


    [Parameter] required public Character player { get; set; }
    [Parameter] public EventCallback<Character> playerChanged { get; set; }

    async Task UpdateCurrentInfo()
    {
        await playerChanged.InvokeAsync(player);
        await FinishCreatingCharacter();
        await Http.PostAsJsonAsync("http://localhost:5003/api/home/createCharacter", player);
        int id = await Http.GetFromJsonAsync<int>("http://localhost:5003/api/home/GetLastCharacter");
        Console.WriteLine(id);
        NavigationManager.NavigateTo($"http://localhost:5003/character/{id}");
    }

    [Parameter] public bool FinishCreating { get; set; }
    [Parameter] public EventCallback<bool> FinishCreatingChanged { get; set; }

    async Task FinishCreatingCharacter()
    {
        FinishCreating = true;
        await FinishCreatingChanged.InvokeAsync(FinishCreating);
    }
}

<div class="info-box">
    <div class="name">
        <h1>Nome:</h1>
        <input @bind-name="@player.Name" @bind-name:event="oninput" type="text"
            placeholder="Escreva o nome do seu personagem aqui...">
    </div>
    <div class="mentor">
        <h1>Mentor:</h1>
        <select @bind="@player.Mentor" name="mentor">
            <option value="">Escola o seu mentor...</option>
            <optgroup label="Starlights">
                <option value="Teckmo">Teckmo</option>
                <option value="Shironi">Shinori</option>
                <option value="Zyreph">Zyreph</option>
                <option value="Zack">Zack</option>
                <option value="Mery">Mery</option>
                <option value="Violet">Violet</option>
            </optgroup>
            <optgroup label="Chaos Hunters">
                <option value="Trevor">Trevor</option>
                <option value="Shadow Clouds">Shadow Clouds</option>
                <option value="Sandstorm">Sandstorm</option>
            </optgroup>
        </select>
    </div>
    <div class="mentor">
        <h1>Portador:</h1>
        <select @bind="@player.Carrier" name="carrier">
            <option value="">Se for portador de qual tipo?</option>
            <option value="nothing">Nada</option>
            <option value="beast">Besta</option>
            <option value="spirit">Espirito</option>
        </select>
    </div>
    <div class="mentor">
        <h1>Elemento:</h1>
        <select @bind="@player.Element" name="element">
            <option value="">Escolha seu elemento...</option>
            <optgroup label="Elementos formadores">
                <option value="fire">Fogo</option>
                <option value="water">Água</option>
                <option value="electric">Elétrico</option>
                <option value="wind">Vento</option>
                <option value="physical">Físico</option>
                <option value="light">Luz</option>
                <option value="shadow">Sombra</option>
            </optgroup>
            <optgroup label="Caso você tenha um próprio">
                <option value="other">Outro</option>
            </optgroup>
        </select>
    </div>

    <button @onclick="() => UpdateCurrentInfo()">Finalizar</button>

</div>
