@rendermode InteractiveServer

@code {
    [Parameter] public int CurrentTab { get; set; }
    [Parameter] public EventCallback<int> CurrentTabChanged { get; set; }

    async Task ChangeTab()
    {
        CurrentTab = 1;
        await CurrentTabChanged.InvokeAsync(CurrentTab);
    }
}

<h1>Bem vindo à tela de criação de ficha do RPG Origins New Horizons!</h1>
<h2>Aqui é onde você poderá construir a ficha do seu personagem para começar a sua campanha de RPG, clique no
    botão abaixo para começar a customização!!</h2>

<button class="start-button"@onclick="(() => ChangeTab())">COMEÇAR</button>

