@rendermode InteractiveServer

@code {
    int Tab = 0;
    void ChangeTab(int index)
    {
        Tab = index;
    }

}

<h1>Bem vindo à tela de criação de ficha do RPG Origins New Horizons!</h1>
<h2>Aqui é onde você poderá construir a ficha do seu personagem para começar a sua campanha de RPG, clique no
    botão abaixo para começar a customização!!</h2>
<button class="start-button" @onclick="(() => ChangeTab(1))">COMEÇAR</button>