@using Database
@inject HttpClient Http
@code {

    [Parameter] public int id { get; set; }
    Character? Model = new();
    protected override async Task OnInitializedAsync()
    {
        Model = await Http.GetFromJsonAsync<Character>($"http://localhost:5003/api/home/getCharacter/{id}");
    }
}

<div class="stats-div" id="StatsDiv">
    <div class="sub-stats-div">
        <div class="positive-display">
            <h1>Aqui é onde você poderá ver seus Efeitos de Status Positivos...</h1>
        </div>
        <div class="negative-display">
            <h1>Aqui é onde você poderá ver seus Efeitos de Status Negativos...</h1>
        </div>
        <div class="global-display">
            <h1>Aqui é onde você poderá ver seus Efeitos de Status Globais...</h1>
        </div>
        <div class="friends-display">
            <h1>Aqui é onde você poderá ver seus Efeitos de Status gerados por Companheiros...</h1>
        </div>
    </div>
</div>