@page "/characterCreate"
@rendermode InteractiveServer

@code {
    int Tab = 0;
    string PlayerBody = "";

    void ChangeTab(int index)
    {
        Tab = index;
    }


}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Assets["css/CharacterCreate.css"]">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Origins New Horizons | Criação de personagem</title>
</head>

    <nav class="guide-nav">
        <h1>-Inicio-</h1>
        <h1>-Corpos-</h1>
        <h1>-Nacionalidades-</h1>
        <h1>-Classes-</h1>
        <h1>-Informações Finais-</h1>
    </nav>


    <div class="main-text">
        @if (Tab == 0)
        {
            <InitialPage @bind-CurrentTab=Tab/>
        }

        @if (Tab == 1)
        {
            <BodyPage @bind-CurrentBody=PlayerBody />
        }

        @if (Tab == 2)
        {
            //<Nacionality />
        }

        @if (Tab == 3)
        {
            //<FinalInformationPage />
        }
    </div>

