@page "/characterCreate"
@using Database
@rendermode InteractiveServer

@using OriginsNewHorizons.Controllers

@code {
    int Tab = 0;

    void ChangeTab(int index)
    {
        Tab = index;
    }

    Character player = new();

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Assets["css/CharacterCreate.css"]">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Origins New Horizons | Criação de personagem</title>
</head>

    <nav class="guide-nav">
        <h1>-Inicio-</h1>
        <h1>-Corpos-</h1>
        <h1>-Nacionalidades-</h1>
        <h1>-Classes-</h1>
        <h1>-Informações Finais-</h1>
    </nav>


    <div class="main-text">
        @if (Tab == 0)
        {
            <InitialPage @bind-CurrentTab=Tab/>
        }

        @if (Tab == 1)
        {
            <BodyPage @bind-CurrentBody=player.Body @bind-CurrentTab=Tab />
        }

        @if (Tab == 2)
        {
            <Nacionality @bind-CurrentNation=player.Nation @bind-CurrentTab=Tab />
        }

        @if (Tab == 3)
        {
            <ClassPage @bind-CurrentClass=player.Class @bind-CurrentTab=Tab />
        }

        @if (Tab == 4)
        {
            <FinalInformationPage @bind-player=player/>
        }
    </div>

