@page "/characterList"
@rendermode InteractiveServer
@using Database
@inject HttpClient Http

<!DOCTYPE html>
<html lang="pt-br">

@code
{

    List<Character>? Models = new();
    protected override async Task OnInitializedAsync()
    {

        Models = await Http.GetFromJsonAsync<List<Character>>("http://localhost:5003/api/home/getAllCharacters");
    }
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleChatacterLists.css">
    <link rel="stylesheet" href="@Assets["css/CharacterList.css"]">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Origins New Horizons | Fichas</title>
</head>

<body>

    <div id="newSheet">
        <a href="/characterCreate/" target="_parent">
            <button id="newSheetButton">Nova Ficha</button>
        </a>
    </div>

    <div id="sheets">
        @foreach (var Model in Models)
        {
            <div class="sheetContainer">
                <img class="userImg" src="../images/Sample_User_Icon.png">
                <p>
                    Nome: @Model.Name <br>
                    Level: @Model.Level
                </p>

                <a href="/character/@Model.Id" target="_parent">
                    <button id="editButton">Editar</button>
                </a>
            </div>
        }
    </div>
</body>

</html>
